@using HermanTheBrokerGUI.Classes
@using HermanTheBrokerGUI.Services
@using HermanTheBrokerGUI.Models

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">HermanTheBrokerGUI</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div> 

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="listhouses">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Lista hus
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="searchhouses">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Sök hus
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Logga in / Registrera
            </NavLink>
        </div>

        @if (loggedIn == true)
        {
            <h3 style="color:lightblue">Mäklarmeny</h3>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="newhouse">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Lägg till hus
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="editBroker">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Redigera min info
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="getBrokersHousesByEmail">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Visa mina objekt
                </NavLink>
            </div>
        }
    </nav>
</div>
@code
{
    [Inject]
    private ApiService ApiService { get; set; }
    private bool loggedIn;

    protected override async Task OnInitializedAsync()
    {
        loggedIn = ApiService.LoginCheck();
    }
}
