@page "/getBrokersHousesByEmail"
@using HermanTheBrokerGUI.Classes
@using HermanTheBrokerGUI.Models
@using HermanTheBrokerGUI.Services

<h3>Mina objekt</h3>
<HouseList listData="ld"></HouseList>

@code {
    private IEnumerable<House> houseData;
    private listData ld = new();

    [Inject]
    private ApiService ApiService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var email = Config.CurrentEmail;
        //houseData = await ApiService.GetHousesByBrokerEmail(email);
        ld.email = email;
        ld.whichList = "BrokersHouses";
    }


}
