@page "/"

<PageTitle>Home</PageTitle>

<h1>Herman the Broker</h1>
<h3>Välkommen till vår mäklarbyrå!</h3>
<p>Gör ditt val i menyn till vänster.</p>

<picture>
    <img src="Pictures/IndexHouse.png" alt="Picture of a BIG house" width="400px"/>
</picture>