@page "/listhouses"
@using HermanTheBrokerGUI.Services
@using HermanTheBrokerGUI.Models

<h3>Alla objekt</h3>
@if (houseData != null)
{
    <ul>
        @foreach (var item in houseData)
        {
            @if (item.Error == true)
            {
                @item.Status
            }
            else
            {
                <li>Hus nummer @item.HouseId</li>
                <li>@item.Street</li>
                <li><a href="/housedetails/@item.HouseId">Detaljer</a></li>
                <li></li>
                <hr />
            }
        }
    </ul>
}
else
{
    <p>Loading data...</p>
}
@code {
    private IEnumerable<House> houseData;

    [Inject]
    private ApiService ApiService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        houseData = await ApiService.GetAllHouses();
    }
}
