@page "/listhouses"
@using HermanTheBrokerGUI.Classes
@using HermanTheBrokerGUI.Services
@using HermanTheBrokerGUI.Models

<h3>Alla objekt</h3>
<HouseList listData="ld"></HouseList>

@code {
    private IEnumerable<House> houseData;
    private listData ld = new();

    [Inject]
    private ApiService ApiService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ld.whichList = "AllHouses";
    }
}
