@page "/login"
@using HermanTheBrokerGUI.Classes
@using HermanTheBrokerGUI.Services
@using HermanTheBrokerGUI.Models

<form method="post" @onsubmit="SubmitLogin" @formname="login">
    <AntiforgeryToken />
     <div>
        <label>
            Name:
             <InputText @bind-Value="Loginobject!.Email" />
        </label>
    </div> 
    <div>
        <label>
            Password:
             <InputText @bind-Value="Loginobject!.Password" />
        </label>
    </div>
    <div>
        <button type="submit">Logga in</button>
    </div>
</form>
@loginResult

@code {
    [SupplyParameterFromForm]
    public loginObject? Loginobject { get; set; }
    protected override void OnInitialized() => Loginobject ??= new();

    [Inject]
    private ApiService ApiService { get; set; }

    private bool loginResult;

    protected override async Task OnInitializedAsync()
    {
    }

    private async Task SubmitLogin()
    {

        var lin = new loginObject()
        {
            Email = string.Empty,
            Password = string.Empty
        };
        lin.Email = Loginobject?.Email;
        lin.Password = Loginobject?.Password;
        loginResult = await ApiService.Login(lin);
    }
}
