@page "/login"
@using HermanTheBrokerGUI.Classes
@using HermanTheBrokerGUI.Services
@using HermanTheBrokerGUI.Models

<EditForm Model="@loginObject" FormName="login" OnSubmit="Submit">
    <h3>Logga in</h3>
    <hr />
    <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label">
            Email
        </label>
        <div class="col-sm-2">
            <InputText id="email" class="form-control" placeholder="Namn"
               @bind-Value="loginObject.Email" />
        </div>
    </div>
    <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label">
            Lösenord
        </label>
        <div class="col-sm-2">
            <InputText id="password" class="form-control" placeholder="Lösenord"
               @bind-Value="loginObject.Password" />
        </div>
    </div>
    <div class="form-group row">
        <label for="newAccount" class="col-sm-2 col-form-label">
            Nytt konto?
        </label>
        <div class="col-sm-1">
            <InputCheckbox id="newaccount" class="form-check-input"
               @bind-Value="loginObject.Register" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit">Logga in/Registrera</button>
        </div>
    </div>
</EditForm>

@loginResult
@regResult
@if (loginResult != null && loginResult != "Fel användarnamn eller lösenord." || regResult == "Kontot registrerat.")
{
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="/">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Gå vidare
        </NavLink>
    </div>
}

@code {
    [SupplyParameterFromForm]
    public LoginObject? loginObject { get; set; }
    protected override void OnInitialized() => loginObject ??= new();

    [Inject]
    private ApiService ApiService { get; set; }

    private string loginResult, regResult;

    private async Task Submit()
    {
        var lin = new LoginObject()
        {
            Email = string.Empty,
            Password = string.Empty,
            Register = false
        };
        lin.Email = loginObject?.Email;
        lin.Password = loginObject?.Password;
        lin.Register = loginObject.Register;
        if(lin.Register == false)
        {
            loginResult = await ApiService.Login(lin);
        }
        else
        {
            regResult = await ApiService.Register(lin);
        }
    }
}
