@page "/register"
@using HermanTheBrokerGUI.Services

<form method="post" @onsubmit="Submit" @formname="login">
    <AntiforgeryToken />
    <div>
        <label>
            Name:
            <InputText @bind-Value="Model!.Name" />
        </label>
    </div>
    <div>
        <label>
            Password:
            <InputText @bind-Value="Model!.Password" />
        </label>
    </div>
    <div>
        <button type="submit">Logga in</button>
    </div>
</form>
@loginResult

@code {
    [SupplyParameterFromForm]
    public LoginInfo? Model { get; set; }
    
    [Inject]
    private ApiService ApiService { get; set; }
    private bool loginResult;

    protected override void OnInitialized() => Model ??= new();

    private async Task Submit()
    {
       // bool loginResult = await ApiService.Login<bool>(Model?.Name, Model?.Password);
    }

    public class LoginInfo
    {
        public string? Name { get; set; }
        public string? Password { get; set; }
    }
}
