@rendermode InteractiveServer
@page "/picviewer/{houseId}"
@using System
@using System.IO
@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment Environment

@if(imageFiles != null){
    <div class="d-flex flex-column">
        @foreach(var img in imageFiles)
        {
            <a href="@img">
                <img src=@img alt="Picture of the house" width="300px" />
            </a>
        }
    </div>
}

@code {
    [Parameter]
    public string houseId { get; set; }
    private List<string> imageFiles = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        var path = Path.Combine("wwwroot/Pictures", "Uploads", houseId);
        string[] files = Directory.GetFiles(path);
        if(files != null)
        {
            foreach (string file in files)
                imageFiles.Add("Pictures/Uploads/" + houseId + "/" + Path.GetFileName(file));
        }
    }
}
